.posts {
  width: 60%;
  display: flex;
  padding: 30px;
  margin: 10px auto;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.post-content {
  width: 80%;
  margin: 0 auto 2rem auto;
  padding-top: 2rem;
}

.button {
  border-radius: 20px;
  padding: 10px 0;
  font-size: 0.8rem;
  background-color: #227eff;
  color: #ffffff;
  transition: all 0.5s ease;
  width: 4rem;
  height: 30%;
  margin: 0 0 0 0.5rem;
  border: none;
}

.button:hover {
  background-color: #b6d5ff;
  color: #227eff;
  cursor: pointer;
}
